<div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
<ul class="nav flex-column pl-1 leftMenus">			
<li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}"><strong>Dashboard</strong></a></li>
<li class="nav-item">
	<a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><strong>Books</strong> ▾</a>
	<ul class="list-unstyled flex-column pl-3 collapse show" id="submenu1" aria-expanded="false">
		<li class="nav-item"><a class="nav-link" href="{{ url_for('books') }}"><strong>Manage Books</strong></a></li>
		<li class="nav-item"><a class="nav-link" href="{{ url_for('category')}}"><strong>Category</strong></a></li>
		<li class="nav-item"><a class="nav-link" href="{{ url_for('author')}}"><strong>Author</strong></a></li>
		<li class="nav-item"><a class="nav-link" href="{{ url_for('publisher')}}"><strong>Publisher</strong></a></li>
		<li class="nav-item"><a class="nav-link" href="{{ url_for('rack')}}"><strong>Rack</strong></a></li>	
	</ul>
</li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('list_issue_book')}}"><strong>Issue Books</strong></a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('users') }}"><strong>User</strong></a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"><strong>Logout</strong></a></li>
</ul>
</div>




