{% include 'header.html' %}
<body>
  <div class="container-fluid" id="main">
  {% include 'top_menus.html' %}  	
    <div class="row row-offcanvas row-offcanvas-left">
	  {% include 'left_menus.html' %}	
      <div class="col-md-9 col-lg-10 main"> 
		<h3>Change password</h3>
		<br>
		<form action="{{ url_for('password_change') }}" method="post">
			{% if mesage is defined and mesage %}
				<div class="alert alert-warning">{{ mesage }}</div>
			{% endif %}		
			<div class="form-group">
				<label for="country">Password:</label>
				<input type="password" class="form-control" id="password" name="password">
			</div>
			<div class="form-group">
				<label for="country">Confirm Password:</label>
				<input type="password" class="form-control" id="confirm_pass" name="confirm_pass">
			</div>
			<input type="hidden" id="userid" name="userid" value="{{ changePassUserId }}">
			<button type="submit" class="btn btn-primary">Update</button>		
		</form>    
        <hr>         
       </div>       
      </div>     
    </div>
  </body>
</html>