{% include 'header.html' %}
<script src="{{ url_for('static',filename='js/publisher.js') }}"></script>
<body>
  <div class="container-fluid" id="main">
	{% include 'top_menus.html' %}  	
    <div class="row row-offcanvas row-offcanvas-left">   
	  {% include 'left_menus.html' %}	
      <div class="col-md-9 col-lg-10 main"> 
		<h3>Publisher Listing</h3>
			<br>
			<div class="float-right mb-2 col-md-2">
				<button type="button" id="addPublisher" class="btn btn-info" title="Add user"><span class="glyphicon glyphicon-plus">Add</span></button>
			</div>
			<table class="table table-striped">
			<thead>
			  <tr>
				<th>Sn.</th>					
				<th>Name</th>					
				<th>Status</th>											
				<th></th>
				<th></th>	
			  </tr>
			</thead>
			<tbody>
			  {% for publisher in publishers %}			  
				  <tr>					
					<td>{{publisher.publisherid}}</td>
					<td>{{publisher.name}}</td>
					<td>{{publisher.status}}</td>							
					<td><a href="{{url_for('editPublisher', publisherid=publisher.publisherid)}}" class="btn btn-primary">Edit</a></td>	
					<td><a href="{{url_for('delete_publisher', publisherid=publisher.publisherid)}}" class="btn btn-danger">Delete</a></td>
				  </tr> 
			{% endfor %}	  
			</tbody>
		  </table>	        
        <hr>         
       </div>       
      </div>     
    </div>
	<div id="publisherModal" class="modal fade">
		<div class="modal-dialog">
			<form method="post" id="publisherForm" action="{{ url_for('savePublisher')}}">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"></button>
						<h4 class="modal-title"><i class="fa fa-plus"></i> Edit publisher</h4>
					</div>
					<div class="modal-body">						
						
						<div class="form-group">							
							<label for="publisher" class="control-label">Publisher</label>							
							<input type="text" name="name" id="name" autocomplete="off" class="form-control" placeholder="publisher name"/>
											
						</div>
						
						<div class="form-group">
							<label for="status" class="control-label">Status</label>							
							<select class="form-control" id="status" name="status"/>
								<option value="">Select</option>							
								<option value="Enable">Enable</option>
								<option value="Disable">Disable</option>								
							</select>							
						</div>				
						
										
					</div>
					<div class="modal-footer">
						<input type="hidden" name="publisherid" id="publisherid" />					
						<input type="hidden" name="action" id="action" value="" />
						<input type="submit" name="save" id="save" class="btn btn-info" value="Save" />
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</div>	
  </body>
</html>